
.Logo{
  padding: 40px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  opacity: 70%;
  display: flex;
  overflow-x: hidden;

  img{
    max-height: 70px;
    max-width: 140px;
  }
}


  